<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>Controlador</display-name>
    <servlet-name>Controlador</servlet-name>
    <servlet-class>controlador.Controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlador</servlet-name>
    <url-pattern>/Controlador</url-pattern>
  </servlet-mapping>
  <display-name>TiendaGenericaGrupo7</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Controlado</display-name>
    <servlet-name>Controlado</servlet-name>
    <servlet-class>controlador.Controlado</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Controlado</servlet-name>
    <url-pattern>/Controlado</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Validar</display-name>
    <servlet-name>Validar</servlet-name>
    <servlet-class>controlador.Validar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validar</servlet-name>
    <url-pattern>/Validar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletControlador</display-name>
    <servlet-name>ServletControlador</servlet-name>
    <servlet-class>controlador.ServletControlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletControlador</servlet-name>
    <url-pattern>/ServletControlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>controlador</display-name>
    <servlet-name>controlador</servlet-name>
    <servlet-class>controlador.controlador</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controlador</servlet-name>
    <url-pattern>/controlador</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>validar</display-name>
    <servlet-name>validar</servlet-name>
    <servlet-class>controlador.validar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validar</servlet-name>
    <url-pattern>/validar</url-pattern>
  </servlet-mapping>
</web-app>